<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuario</title>
    <style>
        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        div{
            padding: 16px;
            margin: 0 auto;
        }
 
    </style>
</head>

<body>
    <form method="post">
        <div>
            <input type="text" name="nomeDoCliente" id="inomeCliente" placeholder="Nome do Cliente">
            <input type="number" name="idadeDoCliente" id="iidadeCliente" placeholder="Idade do Cliente">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
</body>

</html>