<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <style>
        table{
            width: 100%;
        }
        tr,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .opcoes{
            border: none;
            width: 15px;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Idade</th>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente["id"]}}</td>
                <td>{{cliente["nome"]}}</td>
                <td>{{cliente["idade"]}}</td>
                <td class="opcoes">
                    <a href="{{ url_for('edit',id=1) }}">Editar</a>
                </td>
                <td class="opcoes">
                    <a href="{{ url_for('delete',id=1) }}">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>